.filterList{
  display: flex;
  align-items: center;
}

.filterList > div > span{
  padding: 0 16px;
  line-height: 21px;
  cursor: pointer;
  color: rgb(63, 63, 63);
}

.filterList > div > span:hover{
  color: black;
}

.listFilter{
  margin-top: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: rgb(210, 210, 210);
}

.filterItem{
  position: relative;
}

.modalContainer{
  top: 20px;
  left: 20px;
  position: absolute;
}