.wrapper{
  padding: 8px 16px;
  border: 1px solid rgba(177, 177, 177, 0.496);
  background: rgb(241, 241, 241);
  /* border-radius: 6px; */
  border-bottom: none;
  display: flex;
}

.wrapper:first-child{
  /* border-radius: 6px 6px 0 0; */
}
.wrapper:last-child{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 1px solid rgba(177, 177, 177, 0.496);
}

.wrapper:hover{
  background: rgb(206, 206, 206);
}

.checkbox{
  margin-right: 8px;
  margin-top: 5px;
}