:root{
  --deg: 45;
}

body{
  height: 1000px;
  width: 1000px;
  overflow: hidden;
}

.container{
  height: 1000px;
  width: 1000px;
  border: 5px solid blue;
  background-color: black;
  border-radius: 30px;
  overflow: hidden;
}

.canvas{
  position: absolute;
  --x-position : 0px;
  --y-position : 0px;
  top: var(--x-position);
  left: var(--y-position);
}

.characters{
  padding: 10px;
  transform: rotate(calc(var(--deg) * 1deg));
  position: absolute;
  top: 450px;
  left: 450px;
  background-color: black;
  color: white;
  font-size: 30px;
  height: 100px;
  width: 100px;
  border: 3px solid white;
  border-radius: 50%;
}