.login{
  /* border: 1px solid black; */
  color: black;
  display: block;
  text-align: center;
  position: relative;
  right: 0%;
  top: 0;
  float: right;
  width: 120px;
}

.nav{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: var(--navbar-padding, 0.5rem);
  min-height: 4rem;
}

