.login{
  /* border: 1px solid black; */
  color: black;
  display: block;
  text-align: center;
  position: relative;
  right: 0%;
  top: 0;
  float: right;
  width: 120px;
}

.nav{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: var(--navbar-padding, 0.5rem);
  min-height: 4rem;
}

.navContainer{
  border-style: solid;
  border-bottom-width: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  min-height: 4rem;
}

.navBox{
  width: 100%;
  display: flex;
  align-items: center;
}

.navTitle{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
}

.navTitleText{
  color: rgb(55 65 81);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.75rem;
}

/* "border-b-2 z-10 w-full navbar border-solid bg-white dark:bg-neutral text-neutral-content" */