
.listContainer{
  padding: 0 32px;
  margin-top: 24px;
  height: 220px;
}

.topSection{
  display: flex;
  flex-direction: 'space-between';
  margin-bottom: 20px;
}

.input{
  background: white;
  border-radius: 6px;
  border: 1px solid gray;
  padding-left: 10px;
  columns: gray;
  width: 60%;
  margin-right: auto;
  box-shadow: none;
}

.textFilter{
  margin-right: 8px;
  cursor: pointer;
}

.selected{
  font-weight: 800;
}

.paginationContainer{
  display: flex;
  justify-content: center;
}